@import "tailwindcss";

*{
    box-sizing: border-box;
}

@layer components{

    .titulos{
        @apply text-2xl md:text-4xl lg:text-5xl font-bold mb-2;
    }

    .descripcionTitulo{
        @apply text-gray-400 mt-2;
    }

    .tags{
        @apply mt-3 mr-2 mb-2 px-3 py-2 bg-gray-300/20 rounded-[10px] text-xs hover:scale-105 cursor-pointer;
    }

    .btn-redSocial{
        @apply py-2 px-2 border-1 border-gray-400/50 rounded-xl mr-3 hover:bg-gray-400/50 hover:scale-110 hover:font-bold hover:transition-all hover:ease-in-out hover:duration-300;
    }

    @keyframes blur {
        to {
            box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0px 1px rgba(0, 0, 0, 0.3);
            background: rgba(20, 20, 20, 0.2);
            backdrop-filter: blur(5px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
      
      .fade-scroll {
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 600px;
      }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
    border-radius: 20px; 
}

/* Barra del scroll */
::-webkit-scrollbar-thumb {
    background: #7a7878;
    border-radius: 10px;
    transition: background 0.3s;
}

/* Cambia el color cuando pasas el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #7a78788f #050505; 
}
